@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,300;0,400;1,100;1,500&display=swap");

* {
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
}

body {
  position: fixed;
  overflow: hidden;
  overscroll-behavior-y: none;
  font-size: 40px;
}
